<!DOCTYPE html>
<html>
  <body style="min-width: 100%;">
    <h2 style="font-family: Arial;">Backbeat Activity Report</h2>

    <% if report[:inconsistent][:counts].empty? %>
      <p>No inconsistent workflows for this period</p>
    <% else %>
      <%= render_table "Workflow Inconsistencies", report[:inconsistent][:counts] %>
      <p>Inconsistent workflow data stored at <%= report[:inconsistent][:hostname].strip %>:<%= report[:inconsistent][:filename] %></p>
    <% end %>

    <% if report[:untriggered_fire_and_forget][:counts].empty? %>
      <p>No untriggered fire_and_forget nodes for this period</p>
    <% else %>
      <%= render_table "Untriggered fire_and_forget", report[:untriggered_fire_and_forget][:counts] %>
      <p>Untriggered fire_and_forget nodes data stored at <%= report[:untriggered_fire_and_forget][:hostname].strip %>:<%= report[:untriggered_fire_and_forget][:filename] %> </p>
    <% end %>

    <% if report[:completed][:counts].empty? %>
      <p>No completed workflows for this period</p>
    <% else %>
      <%= render_table "Workflow Activity", report[:completed][:counts] %>
    <% end %>

    <p>Report finished in <%= report[:time_elapsed] %> seconds</p>
    <p>Processing window: <%= report[:range][:lower_bound].to_s %> to <%= report[:range][:upper_bound].to_s %></p>
  </body>
</html>
